<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand navbar-left" href="http://seymouraviation.com/booking">
		        <img alt="Brand" class="img-responsive" src="imgs/logo.png" height="70px"/></a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <!-- <button class="btn btn-info btn-sm pull-right"> <a ui-sref="payment">Payment </a> -->
		      <button class="btn btn-info btn-sm pull-right"> <a href="http://www.seymouraviation.com">Main Website </a> 
		    </ul>
		  </div>
		</nav>